# Node
node_modules/
dist/
.npm/
npm-debug.log*

# Java / Maven
target/
*.class

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Docker / Database
mysql_data/
*.db

# Build
build/
out/